/* orderstyle.css */

body {
    background-color: rgb(214, 207, 207);
    margin: 0; 
    font-family: Arial, sans-serif; 
}

header {
    background-color: #5e1f1f;
    color: white;
    padding: 30px;
}
.fixed-header {
    position: fixed;
    top: 0;
    width: 97%;
    z-index: 1000;
    background-color: #5e1f1f;
    color: white;
    padding: 30px;
}

/* Header content container */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/* Logo */
.logo {
    margin-right: auto; 
  }
  
.logo img {
    width: 90px; 
    height: auto; 
    display: block; 
    margin-right: 20px; 
}

.icon {
    width: 70px; 
    height: auto; 
    margin-left: 10px; 
}

#menu {
    margin-left: 10px;
    position: relative;
    transition: color 0.3s ease;
    color: white;
}

#login {
margin-left: 10px;
position: relative;
transition: color 0.3s ease;
color: white;
}

#help {
font-size: 16px; 
margin-left: 25px; 
position: relative;
transition: color 0.3s ease;
}
  
#help:hover::after,
#login:hover::after,
#menu:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px; 
    background-image: linear-gradient(to right, rgb(233, 233, 233), rgb(10, 9, 9));
    transition: width 0.3s ease;
}

#help:hover::after {
    animation: underline-animation 0.3s forwards; 
}

@keyframes underline-animation {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
    }
}


/* Cart Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #f4f4f4;
    transition: right 0.3s ease; 
    z-index: 1000; 
    overflow-y: auto; 
}

.sidebar.active {
    right: 0; 
}

.sidebar h2,
.sidebar p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar button {
    font-size: 0.9rem; 
    padding: 5px 10px;
    margin-bottom: 5px;
}

.ordered-items {
    margin-bottom: 10px; 
}

.sidebar-item {
    display: flex;
    align-items: center;
    font-size: 0.9rem; 
    margin-bottom: 8px;
    margin-left: 30px;
}

.sidebar-icon {
    width: 35px; 
    height: 35px;
    margin-right: 10px;
}

.item-details {
    flex: 1; /* This ensures that item details take up the remaining space */
}

#close-sidebar-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.cart-icon-container {
    position: sticky;
    margin-right: 30px;
}

#cart-count {
    position: absolute;
    top: 0;
    right: -2px;
    background-color: #cac3c3;
    color: #281d1d;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.icon {
    width: 50px; 
    height: auto;
}

.checkout-btn-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

#checkout-btn {
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Adjustments for label and price */
.item-label {
    font-weight: bold;
    color: #070606;
    margin-bottom: 5px; /* Add space between label and price */
}

.price {
    font-weight: bold;
    color: #070606;
}

/* Remove button */
.remove-item {
    margin-top: 10px; /* Adjust margin-top to create space between items */
    margin-left: auto; /* Push the button to the right */
    margin-right: 5px;
    padding: 5px 10px; 
    background-color: #8b6f6f; 
    color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.remove-item:hover {
    background-color: #817171; 
}

/* Adjustments for the menu items */
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    
}

.box {
    width: 200px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(214, 207, 207);
    text-align: center;
}

.image-section img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.details-section {
    margin-top: 10px;
}

.menuButton {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #b5b4b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuButton:hover {
    background-color: #8b6f6f;
}

/* Adjustments for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.quantity,
.price {
    font-weight: bold;
    color: #070606;
    text-align: center; /* Align the text to the left */
}


/* menu item bar */
section {
    background-color: #c0aeae;
    padding-top: 20px;
    padding-bottom: 20px;

    
}

/* Add this CSS to your existing CSS file or create a new one */
.scrollable-section {
    position: relative;
    padding-right: 20px;
}


.scroll-arrow {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
    border-left: 10px solid rgb(43, 37, 37); 
    cursor: pointer;
    transition: opacity 0.3s ease;
    opacity: 0;
}


.scrollable-section:hover .scroll-arrow {
    opacity: 1;
}


.header2-content {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}


.search-bar {
    position: sticky; 
    left: 0; 
    z-index: 1;
  }

.search-bar input[type="text"] {
    padding: 8px 10px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
}

.item {
    display: inline-block;
    margin-left: 15px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    white-space: nowrap; 
    font-size: 25px;
}
.item::before {
    content: " |   "; 
    margin-right: 20px; 
}
.item:hover {
    
    color: #d1d1d1; 
}
.header2-content::-webkit-scrollbar {
    display: none;
}

/* item  in box */
.box-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    flex-wrap: wrap; 
    margin-right: 40px;
    margin-top: 20px;
    position: relative;
}

.box {
    border: 5px solid #504040;
    width: 200px; 
    height: 250px; 
    margin-left: 40px;
    
    display: flex;
    flex-direction: column;
    position: relative; 
}

.image-section {
    height: 60%; 
    overflow: hidden;
}

.image-section img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.details-section {
    position: absolute; 
    bottom: -70px; 
    left: -5px; 
    width: 90%; 
    padding: 0 10px;
    height: 60%; 
    flex-direction: row;
    flex-wrap: wrap;    
}

.price {
    text-align: left;
    margin-left: 10px;
}


/* Menu items */
.menu_bar {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(214, 207, 207);;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.menuButton {
    margin: 5px;
    padding: 10px 20px;
    background-color: #957f7f;  /*here*/
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.menuButton:hover {
    background-color: #997070; 
}

h2 {
    width: 100%;
    text-align: center;
}

h3 {
        width: 100%;
        text-align: left;
}


.column {
    float: left;
    width: 50%; 
    padding: 10px;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer Styles */
footer {
    margin-top: 15px;
    background-color: #5e1f1f;
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left-column,
.middle-column,
.right-column {
    flex-basis: calc(33.33% - 10px); /* 10px for the space between columns */
}

.left-column p {
    font-size: 20px; /* Adjust font size as needed */
    margin-top: 40px;
    color: #dddddd; /* Adjust color as needed */
    font-family: Times, Times New Roman, serif;
}

.left-column p:last-of-type {
    font-size: 20px; /* Adjust font size as needed */
    color: #fbfbfb; /* Adjust color as needed */
    font-family: Times, Times New Roman, serif;
}

.logo-column {
    flex-basis: calc(33.33% - 10px); /* Adjust the width of the logo column */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
}

.logo {
    max-width: 30%; /* Ensure the logo does not exceed its container's width */
}
.right-column {
    margin-left: 30px;
    margin-right: -10px;
}
.right-column h4 {
    font-size: 30px; /* Adjust font size as needed */
    color: #dddddd; /* Adjust color as needed */
    margin-bottom: 5px; /* Adjust margin bottom as needed */
    font-family: Times, Times New Roman, serif;
}

.right-column h5 {
    font-size: 20px; /* Adjust font size as needed */
    color: #fbfbfb; /* Adjust color as needed */
    margin-top: 10px; /* Adjust margin top as needed */
    margin-bottom: 5px; /* Adjust margin bottom as needed */
    font-family: Times, Times New Roman, serif;
}

p {
    font-size: 20px; /* Adjust font size as needed */
    color: #cdc9c9; /* Adjust color as needed */
    margin-top: 10px; /* Adjust margin top as needed */
    font-family: Times, Times New Roman, serif;
}

.quote {
    font-style: italic; /* Make text italic */
    font-size: 18px; /* Adjust font size as needed */
    color: #c8baba; /* Adjust color as needed */
    margin-top: 10px; /* Adjust margin top as needed */
    font-family: OCR A Std, monospace;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}

.hidden {
    display: none;
}
