{% load static %} 
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Or use your own CSS -->
    <link rel="stylesheet" href="{% static 'login.css' %}">

    <!-- Imports Django Button Interaction -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/066f56d2e6.js" crossorigin="anonymous"></script>
    
    <title>Login</title>
</head>
<style>
    .btn-menuboard {
    background-color: #ffc107; 
    color: #000; 
}
</style>
<body>
    <section>
        <div class="weather-widget-container">
            <a class="weatherwidget-io" href="https://forecast7.com/en/30d63n96d33/college-station/" data-label_1="COLLEGE STATION" data-label_2="WEATHER" data-theme="original" >COLLEGE STATION WEATHER</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script> 
            <!-- 
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-c090744f-9feb-4748-8c11-57759cf82b3d" data-elfsight-app-lazy></div>
            -->
        </div>
    </section>
       
    
    <header id="google_translate_element">
        <div class="logo">
            <a href="{% url 'Revs-Login-Screen' %}" class="logo1">
                <img src="{% static 'rev.png' %}" alt="logo1">
            </a>
        </div>
        <!-- <div id="id169a841ab6fc2" a='{"t":"s","v":"1.2","lang":"en","locs":[1663],"ssot":"f","sics":"ds","cbkg":"#546E7A","cfnt":"#FFFFFF","slgp":"5","slbr":6}'>Weather Data Source: <a href="https://sharpweather.com/weather_college_station/30_days/">College Station 30 days weather</a></div>
        <script async src="https://static1.sharpweather.com/widgetjs/?id=id169a841ab6fc2"></script>  -->
        <nav>
            <a href="{% url 'Revs-Order-Screen' %}">Order Now</a>
            <a href="{% url 'Revs-Menuboard-Screen' %}">Menu Board</a>
            <a href="{% provider_login_url 'google' %}">Login</a>
            <a href="{% url 'Revs-About-Screen' %}">About</a>
            <a href="{% url 'Revs-Help-Screen' %}" id="help">Help</a>
        </nav>
    </header>
    
    <!-- Redirection functionality for customer or employee -->
    <!-- <div class="touch-to-order-container">
        <a href="{% url 'Revs-Order-Screen' %}">
            <img src="{% static 'order2.png' %}" alt="Touch anywhere to Order"></a>
        </a>
    </div> -->
    <section>
        <div class="touch-to-order-container">
            <a href="{% url 'Revs-Order-Screen' %}">
                <img class="slideshow-image" src="{% static 'order2.png' %}" alt="Touch anywhere to Order"></a>
            </a>
            <a href="{% url 'Revs-Order-Screen' %}">
                <img class="slideshow-image" src="{% static 'landing2.png' %}" alt="Touch anywhere to Order"></a>
            </a>
            <a href="{% url 'Revs-Order-Screen' %}">
                <img class="slideshow-image" src="{% static 'landing3.png' %}" alt="Touch anywhere to Order"></a>
            </a>
        </div>
    </section>
    
    

    <!-- <h2>Are you an Employee?</h2>
    <div class="btn-group">
        <a href="{% provider_login_url 'google' %}" class="btn btn-primary">Employee Login</a>
    </div> -->
    <!-- Foooter Section -->
    <footer>
        <div class="footer-content">
            <div class="left-column">
                <p>Contact us: revsamericalgrill@gmail.com</p>
                <p>Follow us on social media: 
                    <a href="https://twitter.com" class="social-link" aria-label="Twitter"><i class="fab fa-twitter" style="color: #fafafa;"></i></a>
                    <a href="https://revs-8f3def7ff00e.herokuapp.com/" class="social-link" aria-label="Revs"><i class="fas fa-utensils" style="color: #ffffff;"></i></a>
                    <a href="https://instagram.com" class="social-link" aria-label="Instagram"><i class="fab fa-instagram" style="color: #fcfcfc;"></i></a>
                </p>
            </div>
            <div class="logo-column">
                    <a href="{% url 'Revs-Login-Screen' %}"><img src="{% static 'rev.png' %}" alt="Rev's American Grill Logo" class="logo"></a>
                </a>
            </div>
            
            <div class="right-column">
                <h3>Restaurant Open Hours:</h3>
                <h3>Monday to Saturday: 11:00 AM - 10:00 PM</h3> 
                <h3>Sunday: 12:00 PM - 9:00 PM</h3>
            </div>
        </div>
        <div>
            <p >About us: Rev's American Grill is committed to providing delicious and satisfying meals in a cozy and welcoming atmosphere.</p>
            <p class="quote">"Good food is the foundation of genuine happiness." - Auguste Escoffier</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Rev's American Grill. All rights reserved.</p>
        </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Google Translate -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Google Translate API -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script>
        // JavaScript for slideshow
        var currentIndex = 0;
        var slides = document.getElementsByClassName("slideshow-image");
        
        function showSlide() {
            // Hide all slides
            for (var i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            // Show current slide
            slides[currentIndex].style.display = "block";
            // Move to the next slide
            currentIndex++;
            // Reset index if it exceeds the number of slides
            if (currentIndex >= slides.length) {
                currentIndex = 0;
            }
            // Repeat after a certain interval (e.g., 3 seconds)
            setTimeout(showSlide, 3000);
        }
        
        // Start the slideshow
        showSlide();
    </script>
    


</body>
</html>