{% load static %} <!-- This will let us load in the CSS files in the static directory -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error: No Access</title>

    <!-- Or use your own CSS -->
    <link rel="stylesheet" href="{% static 'noaccess.css' %}">

</head>
<body>

<section class="centered">
    <h1>You do not have access to this page since you are not a manager.</h1>
    <div class="container">
        <span class="message" id="js-whoops"></span> <span class="message" id="js-appears"></span> <span class="message" id="js-error"></span> <span class="message" id="js-apology"></span>
        <div><span class="hidden" id="js-hidden"><a href="{% url 'Revs-Employee-Screen' %}">Go back to employee home page</a></span></div>
    </div>
</section>
    
</body>
</html>

