{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <!-- Imports Django Button Interaction -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--  Stylesheet for the page -->
    <link rel="stylesheet" href="{% static 'orderstyle.css' %}">
    <script src="https://kit.fontawesome.com/066f56d2e6.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="header-content">   
            <a href="{% url 'Revs-Login-Screen' %}" class="logo">
                <div class="logo"><img src="{% static 'rev.png' %}" alt="logo"></div>
            </a>
            <a id="login" href="{% url 'Revs-Login-Screen' %}" style="text-decoration: none;">Login</a>
            <span id="help">Help</span>
            <!-- <img src="{% static 'R.png' %}" alt="cart" class="icon" id="sidebar">           -->
            <!-- Add the count span below -->
            <div class="cart-icon-container">
                <img src="{% static 'R.png' %}" alt="cart" class="icon" id="sidebar"> 
                <span id="cart-count" class="cart-count">0</span> <!-- This will show the count -->
            </div>
        </div>
    </header>
    
    <!-- Second Header -->
    <section class="scrollable-section">
        <div class="header2-content">
            <div class="search-bar"> 
                <input type="text" placeholder="Search here" id="searchInput">
            </div>
            <span class="item readable" onclick="scrollToSection('All_section')">All</span>
            <span class="item readable" onclick="scrollToSection('burgers_section')">Burgers</span>
            <span class="item readable" onclick="scrollToSection('baskets_section')">Baskets</span>
            <span class="item readable" onclick="scrollToSection('sandwiches_section')">Sandwiches</span>
            <span class="item readable" onclick="scrollToSection('shakes_section')">Shakes</span>
            <span class="item readable" onclick="scrollToSection('beverages_section')">Beverages</span>
            <span class="item readable" onclick="scrollToSection('sides_section')">Sides</span>
        </div>
        <div class="scroll-arrow"></div>
    </section>
    
    <h1 style="text-align: center;"> Available Menu Items to Order </h1>
    <div class="menu_sections">
        <h2>Burgers</h2>
        <div class="box-container">
            {% for button in categorizedButtons.Burgers %}
            <div class="box">
                <div class="image-section">
                    <!--
                        <img src="{% static button.description %}.jpeg" alt="{{ button.description }}" class="icon">
                    -->
                </div>
                <div class="details-section">
                    <div class="price readable" >${{ button.price|floatformat:"2" }}</div>
                    <button class="menuButton readable" aria-label="Click to add a {{button.description}} to the order"
                        data-price="{{button.price}}" data-id="{{button.id}}"
                        id="{{ button.description }}_button">{{ button.description }}</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="sidebar">
            <h2>Cart</h2>
            <div class="ordered-items">
                <p style="color: black;">Your Ordered Items are below.</p>
                <table>
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="menu-items readable">
            </div>
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="checkout-btn-container readable">
                    <button type="submit" aria-label="Click to checkout the order to payment" id="checkout-btn" class="readable">Checkout</button> 
                </div>
            </form>   
            <button aria-label="Click to close Sidebar Button" id="close-sidebar-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <div class="section" id="baskets_section">
            <h2>Baskets</h2>
            <div class="box-container">
                {% for button in categorizedButtons.Baskets %}
                <div class="box">
                    <div class="image-section">
                        <!--
                        <img src="{% static button.description %}.jpeg" alt="{{ button.description }}" class="icon">
                        -->
                    </div>
                    <div class="details-section">
                        <div class="price readable" >${{ button.price|floatformat:"2" }}</div>
                        <button class="menuButton readable" aria-label="Click to add a {{button.description}} to the order"
                            data-price="{{button.price}}" data-id="{{button.id}}"
                            id="{{ button.description }}_button">{{ button.description }}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


        <div class="section" id="sandwiches_section">
            <h2>Sandwiches</h2>
            <div class="box-container">
                {% for button in categorizedButtons.Sandwiches %}
                <div class="box">
                    <div class="image-section">
                        <!--
                        <img src="{% static button.description %}.jpeg" alt="{{ button.description }}" class="icon">
                        -->
                    </div>
                    <div class="details-section">
                        <div class="price readable" >${{ button.price|floatformat:"2" }}</div>
                        <button class="menuButton readable" aria-label="Click to add a {{button.description}} to the order"
                            data-price="{{button.price}}" data-id="{{button.id}}"
                            id="{{ button.description }}_button">{{ button.description }}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="section" id="shakes_section">
            <h2>Shakes</h2>
            <div class="box-container">
                {% for button in categorizedButtons.Shakes %}
                <div class="box">
                    <div class="image-section">
                        <!--
                        <img src="{% static button.description %}.jpeg" alt="{{ button.description }}" class="icon">
                        -->
                    </div>
                    <div class="details-section">
                        <div class="price readable" >${{ button.price|floatformat:"2" }}</div>
                        <button class="menuButton readable" aria-label="Click to add a {{button.description}} to the order"
                            data-price="{{button.price}}" data-id="{{button.id}}"
                            id="{{ button.description }}_button">{{ button.description }}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="section" id="beverages_section">
            <h2>Beverages</h2>
            <div class="box-container">
                {% for button in categorizedButtons.Beverages %}
                <div class="box">
                    <div class="image-section">
                        <!--
                        <img src="{% static button.description %}.jpeg" alt="{{ button.description }}" class="icon">
                        -->
                    </div>
                    <div class="details-section">
                        <div class="price readable" >${{ button.price|floatformat:"2" }}</div>
                        <button class="menuButton readable" aria-label="Click to add a {{button.description}} to the order"
                            data-price="{{button.price}}" data-id="{{button.id}}"
                            id="{{ button.description }}_button">{{ button.description }}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="section" id="sides_section">
            <h2>Sides</h2>
            <div class="box-container">
                {% for button in categorizedButtons.Sides %}
                <div class="box">
                    <div class="image-section">
                        <!--
                        <img src="{% static button.description %}.jpeg" alt="{{ button.description }}" class="icon">
                        -->
                    </div>
                    <div class="details-section">
                        <div class="price readable" >${{ button.price|floatformat:"2" }}</div>
                        <button class="menuButton readable" aria-label="Click to add a {{button.description}} to the order"
                            data-price="{{button.price}}" data-id="{{button.id}}"
                            id="{{ button.description }}_button">{{ button.description }}</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- Foooter Section -->
    <footer>
        <div class="footer-content">
            <div class="left-column">
                <p>Contact us: revsamericalgrill@gmail.com</p>
                <p>Follow us on social media: 
                    <a href="https://twitter.com" class="social-link" aria-label="Twitter"><i class="fab fa-twitter" style="color: #fafafa;"></i></a>
                    <a href="https://revs-8f3def7ff00e.herokuapp.com/" class="social-link" aria-label="Revs"><i class="fas fa-utensils" style="color: #ffffff;"></i></a>
                    <a href="https://instagram.com" class="social-link" aria-label="Instagram"><i class="fab fa-instagram" style="color: #fcfcfc;"></i></a>
                </p>
            </div>
            <div class="logo-column">
                    <a href="{% url 'Revs-Login-Screen' %}"><img src="{% static 'rev.png' %}" alt="Rev's American Grill Logo" class="logo"></a>
                </a>
            </div>
            
            <div class="right-column">
                <h3>Restaurant Open Hours:</h3>
                <h3>Monday to Saturday: 11:00 AM - 10:00 PM</h3> 
                <h3>Sunday: 12:00 PM - 9:00 PM</h3>
            </div>
        </div>
        <div>
            <p >About us: Rev's American Grill is committed to providing delicious and satisfying meals in a cozy and welcoming atmosphere.</p>
            <p class="quote">"Good food is the foundation of genuine happiness." - Auguste Escoffier</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Rev's American Grill. All rights reserved.</p>
        </div>
    </footer>



    <!-- Script to handle scrollable functionality -->
    <script>
        // Function to filter menu items based on search input
        document.getElementById('searchInput').addEventListener('input', function() {
            var searchText = this.value.toLowerCase();
            var menuButtons = document.querySelectorAll('.menuButton');
            var sections = document.querySelectorAll('h2');
            
            menuButtons.forEach(function(button) {
                var buttonDescription = button.textContent.toLowerCase();
                if (buttonDescription.includes(searchText)) {
                    button.closest('.box').style.display = 'block';
                } else {
                    button.closest('.box').style.display = 'none';
                }
            });
            // Hide all h2 elements when searching
            if (searchText === '') {
                sections.forEach(function(section) {
                    section.style.display = 'block';
                });
            } else {
                sections.forEach(function(section) {
                    section.style.display = 'none';
                });
            }
        });
    </script>
    
    <script>
        function scrollToSection(sectionId) {
            var section = document.getElementById(sectionId);
            if (section) {
                section.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        }
    </script>

    <!-- Script to handle sidebar interaction -->
    <script>
        $(document).ready(function() {
            // Function to open sidebar
            $('#sidebar').click(function() {
                $('.sidebar').addClass('active');
            });

            // Function to close sidebar
            $('#close-sidebar-btn').click(function() {
                $('.sidebar').removeClass('active');
            });
        });
    </script>

    <!-- Script to Round the Prices to 2 Decimal Points -->
    <script>
        document.getElementsByClassName("price").innerHTML = ""
    </script>

 
    <script>
        $(document).ready(function() {
            // Function to handle button clicks
            $('.menuButton').click(function() {
                var description = $(this).attr('id').replace('_button', ''); 
                var imageUrl = $(this).closest('.box').find('img').attr('src'); 
                var price = $(this).data('price'); 
                var id = $(this).data('id');

                // Check if item already exists in the cart
                var existingItem = $('.sidebar').find('.sidebar-item[data-description="' + description + '"]');
                if (existingItem.length > 0) {
                // If item already exists, update its quantity and price
                var currentQuantity = parseInt(existingItem.find('.quantity').text());
                existingItem.find('.quantity').text(currentQuantity + 1);
                var totalPrice = parseFloat(existingItem.find('.price').text().replace('$', '')) + price;
                existingItem.find('.price').text('$' + totalPrice.toFixed(2));
                } else {
                // If item doesn't exist, append it to the sidebar
                var menuItemHtml = '<div class="sidebar-item" data-description="' + description + '">' +
                                        //'<img src="' + imageUrl + '" alt="' + description + '" class="sidebar-icon">' +
                                        '<span>' + description + '</span>' +
                                        '<button data-id="' + id + '" data-price="' + price + '" class="decrease-quantity" ' +
                                        'aria-label="Click to decrease the ' + description + ' count by one">-</button>' +
                                        '<span class="quantity">1</span>' +
                                        '<button data-id="' + id + '" data-price="' + price + '" class="increase-quantity" ' +
                                        'aria-label="Click to increase the ' + description + 'count by one">+</button>' +
                                        '<span class="price">$' + Number(price).toFixed(2) + '</span>' +
                                        '<button data-id="' + id + '" data-price="' + price + '" class="remove-item" '+
                                        'aria-label="Click to remove the ' + description + ' from the order">Remove</button>' +
                                '</div>';
                $('.sidebar').append(menuItemHtml);
                }

                // Send an AJAX request to add the item to the cart
                $.ajax({
                type: "POST",
                url: "{% url 'addItem' %}", 
                data: {
                    'id': id,
                    'price': price,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // Update cart count
                    $('#cart-count').text(response.cartCount);
                    // Update current price
                    $('#total-price').text(response.totalPrice.toFixed(2));
                },
                error: function(xhr, status, error) {
                    // Handle errors if any
                    console.error(xhr.responseText);
                }
                });
            });


        
                
                // Function to handle increasing quantity and price when "+" button is clicked
                // $(document).on('click', '.increase-quantity', function() {
                //     var existingItem = $(this).closest('.sidebar-item');
                //     var currentQuantity = parseInt(existingItem.find('.quantity').text());
                //     var originalPrice = parseFloat(existingItem.find('.price').data('original-price')); 
    
                //     // Increase quantity by one
                //     existingItem.find('.quantity').text(currentQuantity + 1);
    
                //     // Calculate new total price by adding the original price to the existing total price
                //     var totalPrice = (currentQuantity + 1) * originalPrice; 
                //     existingItem.find('.price').text('$' + totalPrice.toFixed(2));
    
                //     //send an AJAX request to update the item quantity on the server
    
                //     // Update cart count
                //     var currentCount = parseInt($('#cart-count').text());
                //     $('#cart-count').text(currentCount + 1);
                // });
            
                // Function to handle increasing quantity and price when "+" button is clicked
            $(document).on('click', '.increase-quantity', function() {
                var sidebarItem = $(this).closest('.sidebar-item');
                var currentQuantity = parseInt(sidebarItem.find('.quantity').text());
                var price = parseFloat($(this).data('price'));

                // Increment quantity and update price
                var newQuantity = currentQuantity + 1;
                var newPrice = newQuantity * price;
                sidebarItem.find('.quantity').text(newQuantity);
                sidebarItem.find('.price').text('$' + newPrice.toFixed(2));

                // Update cart count
                var currentCount = parseInt($('#cart-count').text());
                $('#cart-count').text(currentCount + 1);

                // Send an AJAX request to remove the item from the backend
                var price = $(this).data('price'); 
                var id = $(this).data('id');
                var csrfToken = '{{ csrf_token }}';
                $.ajax({
                    type: "POST",
                    url: "{% url 'addItem' %}", // URL for removing from cart
                    data: {
                        'id': id,
                        'price': price,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function(response) {
                        // Update total price and other relevant information if needed
                    },
                    error: function(xhr, status, error) {
                        // Handle errors if any
                        console.error(xhr.responseText);
                    }
                });
            });

            $(document).on('click', '.decrease-quantity', function() {
               var sidebarItem = $(this).closest('.sidebar-item');
               var currentQuantity = parseInt(sidebarItem.find('.quantity').text());
               var price = parseFloat($(this).data('price'));


               // Decrease quantity and update price
               var newQuantity = currentQuantity - 1;
               if (newQuantity < 1) {
                   // If quantity becomes less than 1, remove the item from the sidebar
                   sidebarItem.remove();
               } else {
                   var newPrice = newQuantity * price;
                   sidebarItem.find('.quantity').text(newQuantity);
                   sidebarItem.find('.price').text('$' + newPrice.toFixed(2));
               }


               // Update cart count
               var currentCount = parseInt($('#cart-count').text());
               $('#cart-count').text(currentCount - 1);


               // Send an AJAX request to update the item quantity on the backend
               var price = $(this).data('price');
               var id = $(this).data('id');
               var csrfToken = '{{ csrf_token }}';
               $.ajax({
                   type: "POST",
                   url: "{% url 'removeItem' %}", // URL for removing from cart
                   data: {
                       'id': id,
                       'price': price,
                       'csrfmiddlewaretoken': csrfToken
                   },
                   success: function(response) {
                       // Update total price and other relevant information if needed
                   },
                   error: function(xhr, status, error) {
                       // Handle errors if any
                       console.error(xhr.responseText);
                   }
               });
           });



            // Function to handle decreasing quantity and price when "-" button is clicked
            // $(document).on('click', '.decrease-quantity', function() {
            //     var existingItem = $(this).closest('.sidebar-item');
            //     var currentQuantity = parseInt(existingItem.find('.quantity').text());
            //     var originalPrice = parseFloat(existingItem.find('.price').data('original-price')); 

            //     if (currentQuantity > 1) {
            //     // Decrease quantity by one
            //     existingItem.find('.quantity').text(currentQuantity - 1);

            //     // Calculate new total price by subtracting the original price from the existing total price
            //     var totalPrice = (currentQuantity - 1) * originalPrice; 
            //     existingItem.find('.price').text('$' + totalPrice.toFixed(2));
            //     } else {
            //     // If quantity is 1, remove the item from the cart
            //     existingItem.remove();
            //     }

            //     // send an AJAX request to update the item quantity on the server

            //     // Update cart count
            //     var currentCount = parseInt($('#cart-count').text());
            //     $('#cart-count').text(currentCount - 1);
            // });


            // $(document).on('click', '.increase-quantity', function() {
            //     // Remove the entire sidebar item from the cart
            //     $(this).closest('.sidebar-item').remove(); // TODO: Make it increment element

            //     // Update cart count
            //     var currentCount = parseInt($('#cart-count').text());
            //     $('#cart-count').text(currentCount - 1);

            //     // Send an AJAX request to remove the item from the backend
            //     var price = $(this).data('price'); 
            //     var id = $(this).data('id');
            //     var csrfToken = '{{ csrf_token }}';
            //     $.ajax({
            //         type: "POST",
            //         url: "{% url 'addItem' %}", // URL for removing from cart
            //         data: {
            //             'id': id,
            //             'price': price,
            //             'csrfmiddlewaretoken': csrfToken
            //         },
            //         success: function(response) {
            //             // Update total price and other relevant information if needed
            //         },
            //         error: function(xhr, status, error) {
            //             // Handle errors if any
            //             console.error(xhr.responseText);
            //         }
            //     });
            // });


            // $(document).on('click', '.decrease-quantity', function() {
            //     // Remove the entire sidebar item from the cart
            //     $(this).closest('.sidebar-item').remove(); // TODO: Make it decrement element

            //     // Update cart count
            //     var currentCount = parseInt($('#cart-count').text());
            //     $('#cart-count').text(currentCount - 1);

            //     // Send an AJAX request to remove the item from the backend
            //     var price = $(this).data('price'); 
            //     var id = $(this).data('id');
            //     var csrfToken = '{{ csrf_token }}';
            //     $.ajax({
            //         type: "POST",
            //         url: "{% url 'removeItem' %}", // URL for removing from cart
            //         data: {
            //             'id': id,
            //             'price': price,
            //             'csrfmiddlewaretoken': csrfToken
            //         },
            //         success: function(response) {
            //             // Update total price and other relevant information if needed
            //         },
            //         error: function(xhr, status, error) {
            //             // Handle errors if any
            //             console.error(xhr.responseText);
            //         }
            //     });
            // });


            $(document).on('click', '.remove-item', function() {
                // Remove the entire sidebar item from the cart
                $(this).closest('.sidebar-item').remove();

                // Update cart count
                var currentCount = parseInt($('#cart-count').text());
                $('#cart-count').text(currentCount - 1);

                // Send an AJAX request to remove the item from the backend
                var price = $(this).data('price'); 
                var id = $(this).data('id');
                var csrfToken = '{{ csrf_token }}';
                $.ajax({
                    type: "POST",
                    url: "{% url 'removeAllItems' %}", // URL for removing from cart
                    data: {
                        'id': id,
                        'price': price,
                        'csrfmiddlewaretoken': csrfToken
                    },
                    success: function(response) {
                        // Update total price and other relevant information if needed
                    },
                    error: function(xhr, status, error) {
                        // Handle errors if any
                        console.error(xhr.responseText);
                    }
                });
            });

            // Function to handle checkout button click
            $('#checkout-btn').click(function() {
                // Transfer items to the order summary container in transaction.html
                $('.sidebar-item').each(function() {
                    var imageSrc = $(this).find('img').attr('src');
                    var itemName = $(this).find('span:first').text();
                    var itemQuantity = parseInt($(this).find('.quantity').text());
                    var itemPrice = parseFloat($(this).find('.price').text().replace('$', '')); 
                    var itemHtml = '<li class="order-item"><img src="' + imageSrc + '" alt="' + itemName + '" class="item-image">' + itemName + ' x' + itemQuantity + '<span>$' + itemPrice.toFixed(2) + '</span></li>';
                    $('.order-items').append(itemHtml);
                });
                // Navigate to the transaction page
                window.location.href = "{% url 'transaction' %}";
            });

            //This part of the script handles updating the cart count when an item is added or removed
            $('.menuButton').click(function() {
                var currentCount = parseInt($('#cart-count').text());
                $('#cart-count').text(currentCount + 1);
            });

            $(document).on('click', '.remove-item', function() {
                var currentCount = parseInt($('#cart-count').text());
                $('#cart-count').text(currentCount - 1);
            });
        });
    </script>

    <script>
        window.addEventListener('scroll', function() {
        var header = document.querySelector('header');
        if (window.scrollY > 0) {
            header.classList.add('fixed-header');
        } else {
            header.classList.remove('fixed-header');
        }
    });

    </script>

    <script>
        // Function to handle scrolling and fix header2-content
        window.addEventListener('scroll', function() {
            var header2 = document.querySelector('.header2-content');
            if (window.scrollY > 0) {
                header2.classList.add('fixed-header2');
            } else {
                header2.classList.remove('fixed-header2');
            }
        });
    </script>
</body>
</html>
