body {
    background-image: url('bg.png');
    /* background-size: 100% 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; 
    font-family: Arial, sans-serif; 
}
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(133, 129, 129, 0.5)), url('bg.png');
    color: rgb(19, 14, 14);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px;
    transition: all 0.3s ease; 
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;
    background-color: #5e1f1f;
    color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header content container */
.header-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    color: rgb(53, 38, 38);
    gap: 20px;
    font-size: 18px;
}

/* CSS for logo1 */
.logo1 {
    margin-left:0; 
    margin-right: 0;
}

.logo1 img {
    width: 80px; 
    height: auto; 
}


/* logo styling  */
.logo {
    
    margin-left: 10px;
    margin-top: -100px;
  }
  
.logo img {
    width: 30%; 
    height: auto; 
    display: block; 
    margin-right: 20px; 
}

/* image 1 */
#image1 {
    
    margin-left: 280px;
    margin-top: -410px;
  }
  
#image1 img {
    width: 35%; 
    height: auto; 
    display: block; 
}


/* image 2 */
#image2 {
    
    margin-left: 550px;
    margin-top: -270px;
  }
  
#image2 img {
    width: 45%; 
    height: auto; 
    display: block; 
}

/* image 3 */
#image3 {
    
    margin-left: 750px;
    margin-top: -370px;
  }
  
#image3 img {
    width: 60%; 
    height: auto; 
    display: block; 
}


#image4 {
    
    margin-left: 650px;
    margin-top: -50px;
  }
  
#image4 img {
    width: 50%; 
    height: auto;   
}


/* section styling */
.section {
    position: relative; 
}

/* tag */
.tag {
    position: absolute;
    top: 0;
    width: 60%; 
    
    
}

#tag1 img {
    width: 60%; /* Set the width of the tag image to 100% */
    height: auto;
    margin-top: -540px;
    margin-right: 100px;
    margin-left: 390px; /* Specify the margin-left */
    margin-right: 390px;
    
    
}

#tag1 h2 {
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    color: rgb(255, 255, 255); 
    margin-top: -265px;
    margin-left: 210px;
}


/* burgers */
.burger-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 20%;
    margin-top: -210px;
}

.burger-container .box1 {
    width: 100%; /* Adjust width as needed */
    padding: 1px;
    border-radius: 10px;
    text-align: left;
    margin-left: -650px;
   
}

.menuLabel {
    display: block;
    color: #333333; /* Dark text color */
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}

.price {
    float: right; /* Align the price to the right */
    margin-top: -15px;
}


/* baskets */
#tag2 img {
    width: 500px; 
    height: auto;
    margin-top: -500px;
    margin-left: 900px;
    display: block; 
}

#tag2 h2 {
    position: absolute; 
    transform: translateX(-50%); 
    color: rgb(246, 243, 243); 
    margin-top: -270px;
    margin-left: 1160px;
}

.basket-container {
    position: absolute;
    z-index: 0;
    width: 20%;
    margin-top: -210px;
}

.basket-container .box2 {
    width: 100%; 
    padding: 1px;
    border-radius: 10px;
    text-align: left;
    margin-left: 1015px;
   
}

/* sanwiches */
#tag3 img {
    width: 500px; 
    height: auto;
    margin-top: -320px;
    margin-left: -20px;
    display: block; 
}

#tag3 h2 {
    position: absolute; 
    transform: translateX(-50%); 
    color: rgb(238, 238, 238); 
    margin-top: -270px;
    margin-left: 230px;
}

.sandwich-container {
    position: absolute;
    z-index: 0;
    width: 20%;
    margin-top: -210px;
}

.sandwich-container .box3 {
    width: 100%; 
    padding: 1px;
    border-radius: 10px;
    text-align: left;
    margin-left: 90px;
   
}

/* shakes */
#tag4 img {
    width: 500px; 
    height: auto;
    margin-top: -330px;
    margin-left: 885px;
    display: block; 
}

#tag4 h2 {
    position: absolute; 
    transform: translateX(-50%); 
    color: rgb(246, 243, 243); 
    margin-top: -270px;
    margin-left: 1130px;
}

.shakes-container {
    position: absolute;
    z-index: 0;
    width: 20%;
    margin-top: -210px;
}

.shakes-container .box4 {
    width: 100%; 
    padding: 1px;
    border-radius: 10px;
    text-align: left;
    margin-left: 990px;
   
}

/* beverages */
#tag5 img {
    width: 500px; 
    height: auto;
    margin-top: -500px;
    margin-left: 400px;
    
}

#tag5 h2 {
    position: absolute; 
    transform: translateX(-50%); 
    color: rgb(247, 247, 247); 
    margin-top: -270px;
    margin-left: 650px;
}

.bev-container {
    position: absolute;
    z-index: 0;
    width: 20%;
    margin-top: -200px;
}

.bev-container .box5 {
    width: 100%; 
    padding: 1px;
    text-align: left;
    margin-left: 500px;
   
}

/* sides */
#tag6 img {
    width: 500px; 
    height: auto;
    margin-top: -580px;
    margin-left: -20px;
    display: block; 
}

#tag6 h2 {
    position: absolute; 
    transform: translateX(-50%); 
    color: rgb(238, 238, 238); 
    margin-top: -270px;
    margin-left: 230px;
}

.sides-container {
    position: absolute;
    z-index: 0;
    width: 20%;
    margin-top: -210px;
}

.sides-container .box6 {
    width: 100%; 
    padding: 1px;
    border-radius: 10px;
    text-align: left;
    margin-left: 90px;
   
}