/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header styling */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(133, 129, 129, 0.5)), url('board5.png');
    color: white;
    padding: 10px 20px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    font-size: 22px;
    position: relative; 
    z-index: 1; 
    font-family: "Times New Roman", serif;
}

/* Style for the "Order Now" link */
.header #orderNow,
.header #help {
    color: #000000; 
    text-decoration: none; 
    font-weight: bold;
}

.header #orderNow:hover,
.header #help:hover {
    color: #702626; 
    text-decoration: underline; 
}

/* Style for the logo */
.logo1 img {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
}

#id169a841ab6fc2 {
    padding: 10px; 
    font-size: 16px; 
    margin-bottom: 20px; 
    width: 150px;
    height: 50px;
    margin-left: auto;
}

/* Board styling */

.board {
    /* background-color: rgb(169, 126, 126); */
    background-image: url('bg.png');
    width: 100vw; 
    height: 100vh; 
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1000;
    padding: 20px; 
    box-sizing: border-box; 
}
.board .logo_new {
    position: absolute;
    width: 10%; 
    height: auto; 
    top: -130px; 
    left: -85px;
}

/* Style for the tag class within the board */
.board .tag {
    position: absolute;
}

.board #tag1 {
    margin-top: -180px;
    margin-left: 350px;   
}

#tag1 h2 {
    position: absolute; 
    margin-top: -275px;
    margin-left: 250px;
    transform: translateX(-50%); 
    color: rgb(255, 255, 255); 
}

.board .burger-container {
    position: absolute;
    width: 20%;
    margin-top: 110px;
    margin-left: 460px;
}

.menuLabel {
    display: block;
    color: #333333; 
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 50px;
    font-family: Georgia, serif;
}

.price {
    float: right; 
    margin-top: -35px;
}
