body {
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
}
table {
    margin-bottom: 20px;
    width: 100%;
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
