body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #4a1e1e; 
    font-family: serif;
}

/* CSS for header */
header {
    background-color: #4a1e1e; 
    color: #8a7a7a; 
    padding: 30px 10px; 
    display: flex; 
    justify-content: right; 
    align-items: center; 
    gap: 20px;
    font-size: 22px;
}


header a {
    color: #fff; 
    text-decoration: none; 
}

header a:hover {
    text-decoration: underline; 
    color: #8a7a7a;
}

header nav a {
    margin-right: 20px; /* Adjust this value to increase or decrease the space between links */
}


.logo1 img {
    width: 100px; 
    height: auto; 
    display: block;
    margin-left: -730px;
}


#id169a841ab6fc2 {
    padding: 10px; 
    font-size: 16px; 
    margin-bottom: 20px; 
    width: 150px;
    height: 50px;
}

.touch-to-order-container {
    position: relative; 
    width: 100%; 
    height: 100%; 
}

.touch-to-order-container a {
    display: block; 
    width: 100%; 
    height: 100%; 
}

.touch-to-order-container img {
    width: 100%; 
    height: 100%; 
    /* object-fit: cover;  */
    object-fit: fill;
}

/* Footer Styles */
footer {
    margin-top: 15px;
    background-color: #4a1e1e;
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.left-column,
.middle-column,
.right-column {
    flex-basis: calc(30% - 10px); 
}

.left-column p {
    font-size: 20px; 
    margin-top: 40px;
    color: #dddddd;
    font-family: Times, Times New Roman, serif;
}

.left-column p:last-of-type {
    font-size: 20px; 
    color: #fbfbfb; 
    font-family: Times, Times New Roman, serif;
}

.logo-column {
    flex-basis: calc(33.33% - 10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
}

.logo {
    max-width: 30%; 
}
.right-column {
    margin-left: 30px;
    margin-right: -10px;
}
.right-column h4 {
    font-size: 30px; 
    color: #dddddd;
    margin-bottom: 5px;
    font-family: Times, Times New Roman, serif;
}

.right-column h5 {
    font-size: 10px; 
    color: #fbfbfb; 
    margin-top: 5px;
    margin-bottom: 5px; 
    font-family: Times, Times New Roman, serif;
}

p {
    font-size: 20px;
    color: #cdc9c9; 
    margin-top: 10px; 
    font-family: Times, Times New Roman, serif;
}

.quote {
    font-style: italic; 
    font-size: 18px;
    color: #c8baba; 
    margin-top: 10px; 
    font-family: OCR A Std, monospace;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
