{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--  Stylesheet for the page -->
    <link rel="stylesheet" href="{% static 'managerstyle.css' %}">

    <title>Restock Report</title>
    <style>
    </style>
</head>
<body>
    <h1>Restock Report
        <!-- Modal to explain the current page -->
        <img src="{% static 'question.jpg' %}" style="width: 30px; height: 30px; cursor: pointer;" data-toggle="modal" data-target="#infoModal">
    </h1>

    <!-- Feedback for whenever we add a new inventory item -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">X</button>
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <header>
        <!-- Navigation bar -->
        <div class="navbar" id="google_translate_element">
            <div class="logo"><img src="{% static 'rev.png' %}" alt="Rev's Grill Logo"></div>
            <a href="{% url 'Revs-Employee-Screen' %}">Logout</a>
            <a href="{% url 'Revs-Manager-Screen' %}">Manager Page</a>
            <a href="{% url 'Revs-restock-Screen' %}">Restock Report</a>
            <a href="{% url 'Revs-sales-Screen' %}">Sales Report</a>
            <a href="{% url 'Revs-productusage-Screen' %}">Product Usage</a>
            <a href="{% url 'Revs-trends-Screen' %}">Trends</a>
            <a href="{% url 'Revs-excess-Screen' %}">Excess Report</a>
            <a href="{% url 'Revs-popularity-Screen' %}">Popularity Trends</a>
            <a href="{% url 'Revs-ordermanagement-screen' %}"> Order Management</a>
        </div>
    </header>

    <!-- Display the inventory items from the model -->
    <table class="table table-bordered">
        <tr>
            <th>Needs Restocking</th>
            <th>Description</th>
            <th>Quantity Remaining</th>
            <th>Quantity Target</th>
            <th>Options</th>
        </tr>
        {% for item in inventory_items %}
        <tr>
            <td><input type="checkbox" class="form-control" disabled {% if item.quantity_remaining < item.quantity_target %}checked{% endif %}></td>
            <!-- Modifies the inventory info if saved  -->
            <form action="{% url 'Revs-modify-inventory' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" value="{{ item.id }}">
                <td><input type="text" class="form-control" name="description" value="{{ item.description }}" required></td>
                <td><input type="number" min="0" class="form-control" name="quantity_remaining" value="{{ item.quantity_remaining }}" required></td>
                <td><input type="number" min="0" class="form-control" name="quantity_target" value="{{ item.quantity_target }}" required></td>
                <td><button type="submit" class="btn btn-success">Save Changes</button></td>
            </form>

            <td>
                <!-- Delete button form -->
                <form action="{% url 'Revs-delete-inventory' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>

    <!-- Functionality to add new inventory items -->
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Add New Inventory Item</button>
        <div id="demo" class="collapse">
            <form action="{% url 'Revs-add-inventory' %}" method="post">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><input type="text" class="form-control" name="new_description" placeholder="Enter the inventory item name" required></td>
                        <td><input type="number" min="0" class="form-control" name="new_quantity_remaining" placeholder="Enter the remaining quantity" required></td>
                        <td><input type="number" min="0" class="form-control" name="new_quantity_target" placeholder="Enter the target quantity" required></td>
                        <td><button type="submit" class="btn btn-primary">Add Item</button></td>
                    </tr>
                </table>
            </form>        
        </div>         
    </div>

    <!-- Foooter Section -->
    <footer>
        <div class="footer-content">
            <div class="left-column">
                <p>Contact us: revsamericalgrill@gmail.com</p>
                <p>Follow us on social media: 
                    <a href="https://twitter.com" class="social-link" aria-label="Twitter"><i class="fab fa-twitter" style="color: #fafafa;"></i></a>
                    <a href="https://revs-8f3def7ff00e.herokuapp.com/" class="social-link" aria-label="Revs"><i class="fas fa-utensils" style="color: #ffffff;"></i></a>
                    <a href="https://instagram.com" class="social-link" aria-label="Instagram"><i class="fab fa-instagram" style="color: #fcfcfc;"></i></a>
                </p>
            </div>
            <div class="logo-column">
                <a href="">
                    <img src="{% static 'rev.png' %}" alt="Rev's American Grill Logo" class="logo">
                </a>
            </div>
            
            <div class="right-column">
                <h4>Restaurant Open Hours:</h4>
                <h5>Monday to Saturday: 11:00 AM - 10:00 PM</h5> 
                <h5>Sunday: 12:00 PM - 9:00 PM</h5>
            </div>
        </div>
        <div>
            <p >About us: Rev's American Grill is committed to providing delicious and satisfying meals in a cozy and welcoming atmosphere.</p>
            <p class="quote">"Good food is the foundation of genuine happiness." - Auguste Escoffier</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Rev's American Grill. All rights reserved.</p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Restock Report</h5>
            </div>
            <div class="modal-body">
            This page displays a list of all inventory items. Items needing restocking are highlighted. You can edit quantities, add new items, or delete existing items.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Google Translate API -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Google Translate -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>