{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!--  Stylesheet for the page -->
    <link rel="stylesheet" href="{% static 'managerstyle.css' %}">

    <title>Trends Report</title>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <div class="navbar" id="google_translate_element">
            <div class="logo">
                <a href="{% url 'Revs-Login-Screen' %}">
                <img src="{% static 'rev.png' %}" alt="Rev's Grill Logo">
                </a>
            </div>
            <a href="{% url 'Revs-Employee-Screen' %}">Logout</a>
            <a href="{% url 'Revs-Manager-Screen' %}">Manager Page</a>
            <a href="{% url 'Revs-restock-Screen' %}">Restock Report</a>
            <a href="{% url 'Revs-sales-Screen' %}">Sales Report</a>
            <a href="{% url 'Revs-productusage-Screen' %}">Product Usage</a>
            <a href="{% url 'Revs-trends-Screen' %}">Trends</a>
            <a href="{% url 'Revs-excess-Screen' %}">Excess Report</a>
            <a href="{% url 'Revs-popularity-Screen' %}">Popularity Trends</a>
            <a href="{% url 'Revs-ordermanagement-screen' %}"> Order Management</a>
        </div>
    </header>

    <div class="container mt-5">
        <h1 class="text-center mb-4">
            Trends Report
            <!-- Modal to explain the current page -->
            <img src="{% static 'question.jpg' %}" style="width: 30px; height: 30px; cursor: pointer;" data-toggle="modal" data-target="#infoModal">
        </h1>
        
        <!-- Display the Date Forms -->
        <form id="dateForm" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" id="startDate" name="startDate" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" id="endDate" name="endDate" class="form-control" required>
            </div>
            <button name="submit" class="btn btn-success">Submit</button>
        </form>

        <!-- Display the trends report -->
        <form id="sortForm" method="get" action="{% url 'sortTable' %}">
            <table class="table table-bordered">
                <thead>
                    <input type="hidden" id="sortField" name="sortField" value="">
                    <input type="hidden" id="tableName" name="tableName" value="trends">
                    <thead>
                        <tr>
                            <th>Item 1<img src="{% static 'sort.png' %}" onclick="setSort('item1')" alt="Price sort button" style="width: 30px; height: 30px; cursor: pointer;"></th>
                            <th>Item 2<img src="{% static 'sort.png' %}" onclick="setSort('item2')" alt="Description sort button" style="width: 30px; height: 30px; cursor: pointer;"></th>
                            <th>Frequency<img src="{% static 'sort.png' %}" onclick="setSort('frequency')" alt="Category sort button" style="width: 30px; height: 30px; cursor: pointer;"></th>
                        </tr>
                    </thead>
                </thead>
                <tbody>
                    {% for item in report %}
                    <tr>
                        <td>{{ item.item1 }}</td>
                        <td>{{ item.item2 }}</td>
                        <td>{{ item.frequency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>


    <!-- Foooter Section -->
    <footer>
        <div class="footer-content">
            <div class="left-column">
                <p>Contact us: revsamericalgrill@gmail.com</p>
                <p>Follow us on social media: 
                    <a href="https://twitter.com" class="social-link" aria-label="Twitter"><i class="fab fa-twitter" style="color: #fafafa;"></i></a>
                    <a href="https://revs-8f3def7ff00e.herokuapp.com/" class="social-link" aria-label="Revs"><i class="fas fa-utensils" style="color: #ffffff;"></i></a>
                    <a href="https://instagram.com" class="social-link" aria-label="Instagram"><i class="fab fa-instagram" style="color: #fcfcfc;"></i></a>
                </p>
            </div>
            <div class="logo-column">
                <a href="{% url 'Revs-Login-Screen' %}">
                    <img src="{% static 'rev.png' %}" alt="Rev's American Grill Logo" class="logo">
                </a>
            </div>
            
            <div class="right-column">
                <h4>Restaurant Open Hours:</h4>
                <h5>Monday to Saturday: 11:00 AM - 10:00 PM</h5> 
                <h5>Sunday: 12:00 PM - 9:00 PM</h5>
            </div>
        </div>
        <div>
            <p >About us: Rev's American Grill is committed to providing delicious and satisfying meals in a cozy and welcoming atmosphere.</p>
            <p class="quote">"Good food is the foundation of genuine happiness." - Auguste Escoffier</p>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Rev's American Grill. All rights reserved.</p>
        </div>
    </footer>

    <!-- Sends information for sorting to the backend -->
    <script>
        function setSort(sortField, tableName) {
            document.getElementById("sortField").value = sortField;
            document.getElementById("sortForm").submit();
        }
    </script>

    <!-- Google Translate API -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Trends Report</h5>
            </div>
            <div class="modal-body">
                Given a time window, this page will display a list of pairs of menu items that sell together often, popular or not, sorted by most frequent.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then Google Translate -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Chart.js for dynamic charts -->
    




</body>
</html>
